.group367-group36 {
  width: 1456px;
  height: 93px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.group367-text {
  top: 32px;
  left: 769.45556640625px;
  color: rgba(0, 0, 0, 1);
  width: 68px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Lora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group367-text2 {
  top: 32px;
  left: 931.2333374023438px;
  color: rgba(0, 0, 0, 1);
  width: 68px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Lora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group367-text4 {
  top: 32px;
  left: 1093.0111083984375px;
  color: rgba(0, 0, 0, 1);
  width: 94px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Lora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group367-text6 {
  top: 32px;
  left: 1248.72216796875px;
  color: rgba(0, 0, 0, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Lora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group367-openlife2 {
  top: 7px;
  left: 18.200000762939453px;
  width: 86px;
  height: 86px;
  position: absolute;
  border-color: transparent;
}
.group367-openlife1 {
  top: 18px;
  left: 111.22222137451172px;
  width: 239px;
  height: 57px;
  position: absolute;
  border-color: transparent;
}
.group367-root-class-name {
  top: 0px;
  left: 0px;
  position: absolute;
  margin-right: 0;
  margin-bottom: 0;
}
