.group366-group36 {
  width: 1440px;
  height: 93px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  padding-bottom: 0;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.group366-text {
  top: 32px;
  left: 760.9999389648438px;
  color: rgba(0, 0, 0, 1);
  width: 67px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Lora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group366-text2 {
  top: 32px;
  left: 920.9999389648438px;
  color: rgba(0, 0, 0, 1);
  width: 67px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Lora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group366-text4 {
  top: 32px;
  left: 1081px;
  color: rgba(0, 0, 0, 1);
  width: 93px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Lora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group366-text6 {
  top: 32px;
  left: 1235px;
  color: rgba(0, 0, 0, 1);
  width: 121px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Lora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group366-openlife2 {
  top: 7px;
  left: 18.000097274780273px;
  width: 85px;
  height: 86px;
  position: absolute;
  border-color: transparent;
}
.group366-openlife1 {
  top: 18px;
  left: 110px;
  width: 236px;
  height: 57px;
  position: absolute;
  border-color: transparent;
}
.group366-root-class-name {
  top: 7px;
  left: 0px;
  position: absolute;
  margin-right: 0;
  margin-bottom: 0;
}
