.group32-group32 {
  width: 270px;
  height: 168px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  background-color: transparent;
}
.group32-text {
  top: 151px;
  color: rgba(0, 0, 0, 1);
  width: 270px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group32-text2 {
  top: 117px;
  left: 17px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group32-ellipse2 {
  top: 0px;
  left: 77px;
  width: 104px;
  height: 104px;
  position: absolute;
  border-color: transparent;
}
.group32-identification-badge {
  top: 19px;
  left: 94px;
  width: 70px;
  height: 70px;
  position: absolute;
}
.group32-root-class-name {
  top: 0px;
  left: 379px;
  position: absolute;
  margin-right: 0;
  margin-bottom: 0;
}
