.group31-group31 {
  width: 316px;
  height: 168px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.group31-text {
  top: 151px;
  color: rgba(0, 0, 0, 1);
  width: 316px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group31-text2 {
  top: 117px;
  left: 71px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group31-ellipse1 {
  top: 0px;
  left: 93px;
  width: 104px;
  height: 104px;
  position: absolute;
}
.group31-icons-featherbell {
  top: 30px;
  left: 121px;
  width: 48px;
  height: 47px;
  position: absolute;
}
.group31-root-class-name {
  top: 0px;
  left: 0px;
  position: absolute;
  margin-right: 0;
  margin-bottom: 0;
}
