.group33-group33 {
  width: 277px;
  height: 168px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  padding-left: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.group33-text {
  top: 151px;
  left: 3px;
  color: rgba(0, 0, 0, 1);
  width: 270px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.group33-navlink {
  display: contents;
}
.group33-component {
  text-decoration: none;
}
.group33-ellipse4 {
  top: 0px;
  left: 77px;
  width: 104px;
  height: 104px;
  position: absolute;
}
.group33-icons-phosphor-health-heartbeat {
  top: 24px;
  left: 99px;
  width: 61px;
  height: 61px;
  position: absolute;
}
.group33-root-class-name {
  top: 0px;
  right: 375px;
  position: absolute;
  margin-right: 0;
  margin-bottom: 0;
}
