.text-container {
  display: flex;
  position: relative;
}
.text-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: relative;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text-root-class-name {
  top: 88;
  left: 4;
  position: absolute;
}
