.text5-container {
  display: flex;
  position: relative;
}
.text5-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: relative;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Lora;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text5-root-class-name {
  top: 32;
  left: 1235;
  position: absolute;
}
