.organ-matching1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.organ-matching1-matching-i {
  width: 100%;
  height: 1786px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.organ-matching1-navlink {
  display: contents;
}
.organ-matching1-component {
  text-decoration: none;
}
.organ-matching1-text {
  top: 641px;
  left: 0px;
  color: rgba(19, 61, 4, 1);
  right: 0px;
  width: 806px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 96px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Habibi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.organ-matching1-text02 {
  top: 918px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  right: 0px;
  width: 758px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Habibi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.organ-matching1-frame5lightwalletsetupoptions {
  top: 1281px;
  left: 0px;
  right: 0px;
  width: 763px;
  height: 141.3356475830078px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.organ-matching1-navlink1 {
  display: contents;
}
.organ-matching1-i-m-a-g-e5lightwalletsetupoptions {
  top: 0px;
  left: 0px;
  width: 763px;
  height: 141px;
  position: absolute;
  border-color: transparent;
  text-decoration: none;
}
.organ-matching1-navlink2 {
  display: contents;
}
.organ-matching1-screenshot202301061958501 {
  top: 1125px;
  left: 0px;
  right: 0px;
  width: 743px;
  height: 126px;
  margin: auto;
  position: absolute;
  border-color: transparent;
  text-decoration: none;
}
.organ-matching1-text04 {
  left: 0px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  width: 526px;
  bottom: 580px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Habibi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.organ-matching1-icons-phosphor-health-first-aid-kit {
  top: 373px;
  left: 0px;
  right: 0px;
  width: 293px;
  height: 312px;
  margin: auto;
  position: absolute;
}
.organ-matching1-navlink3 {
  display: contents;
}
.organ-matching1-component1 {
  text-decoration: none;
}
.organ-matching1-dark-dark04 {
  top: 93px;
  left: 0px;
  width: 1600px;
  height: 295px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.organ-matching1-fluid-shape {
  top: 0px;
  left: 0px;
  width: 1456px;
  height: 212px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.organ-matching1-mask {
  top: 0px;
  left: 0px;
  width: 1456px;
  height: 212px;
  position: absolute;
  border-color: transparent;
}
.organ-matching1-img {
  top: -3.6342856884002686px;
  left: 0px;
  width: 1600px;
  height: 295px;
  opacity: 0.50;
  position: absolute;
  border-color: transparent;
}
.organ-matching1-text06 {
  top: var(--dl-space-space-fiveunits);
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  width: 927px;
  bottom: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 96px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Habibi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.organ-matching1-text07 {
  color: var(--dl-color-gray-black);
}
.organ-matching1-text08 {
  color: var(--dl-color-gray-black);
}
