.organ-matching-a1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.organ-matching-a1-matching-i-ia {
  width: 100%;
  height: 1786px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.organ-matching-a1-navlink {
  display: contents;
}
.organ-matching-a1-component {
  text-decoration: none;
}
.organ-matching-a1-text {
  top: 394px;
  left: 0px;
  color: rgba(19, 61, 4, 1);
  right: 0px;
  width: 871px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 96px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Habibi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.organ-matching-a1-navlink1 {
  display: contents;
}
.organ-matching-a1-component1 {
  text-decoration: none;
}
.organ-matching-a1-container1 {
  top: 1221px;
  left: 0px;
  right: 0px;
  width: 574px;
  height: 112px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.organ-matching-a1-container2 {
  top: 0px;
  left: 21px;
  width: 553px;
  height: 92px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.organ-matching-a1-text02 {
  top: 14px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 451px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Habibi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.organ-matching-a1-container3 {
  top: 0px;
  left: 0px;
  width: 553px;
  height: 92px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.organ-matching-a1-text04 {
  left: 42px;
  color: rgba(0, 0, 0, 1);
  width: 86px;
  bottom: 0px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Habibi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.organ-matching-a1-i-m-a-g-e7lightimportseedphrasefilledform {
  top: 0px;
  right: 0px;
  width: 111px;
  height: 72px;
  position: absolute;
  border-color: transparent;
}
.organ-matching-a1-text06 {
  left: 140px;
  color: rgb(21, 112, 42);
  width: 182px;
  bottom: 20px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Habibi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.organ-matching-a1-i-m-a-g-e12lightcreatepasswordfilledform {
  top: 53px;
  left: 0px;
  width: 63px;
  height: 59px;
  position: absolute;
  border-color: transparent;
}
.organ-matching-a1-group50 {
  top: 141px;
  left: 259px;
  width: 927px;
  height: 164px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.organ-matching-a1-text07 {
  color: rgba(255, 255, 255, 1);
  width: 927px;
  height: auto;
  position: absolute;
  font-size: 96px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Habibi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.organ-matching-a1-navlink2 {
  display: contents;
}
.organ-matching-a1-component2 {
  text-decoration: none;
}
.organ-matching-a1-text09 {
  top: 1358px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  width: 343px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Habibi;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.organ-matching-a1-dark-dark5 {
  top: 93px;
  left: -6px;
  width: 1600px;
  height: 295px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.organ-matching-a1-fluid-shape {
  top: 0px;
  left: 0px;
  width: 1456px;
  height: 212px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.organ-matching-a1-mask {
  top: 0px;
  left: 0px;
  width: 1456px;
  height: 212px;
  position: absolute;
  border-color: transparent;
}
.organ-matching-a1-img {
  top: -3.6342856884002686px;
  left: 0px;
  width: 1600px;
  height: 295px;
  opacity: 0.50;
  position: absolute;
  border-color: transparent;
}
.organ-matching-a1-text11 {
  top: var(--dl-space-space-fiveunits);
  left: 0px;
  color: var(--dl-color-gray-black);
  right: 0px;
  width: 927px;
  bottom: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 96px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Habibi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.organ-matching-a1-group13 {
  top: 556px;
  left: 0px;
  right: 0px;
  width: 527px;
  height: 133px;
  margin: auto;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
}
.organ-matching-a1-text12 {
  top: -2px;
  left: 13px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.organ-matching-a1-textinput {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: var(--dl-size-size-medium);
  position: absolute;
  align-self: flex-end;
  padding-bottom: 0px;
}
.organ-matching-a1-group131 {
  left: 0px;
  right: 0px;
  width: 527px;
  bottom: -205px;
  height: 133px;
  margin: auto;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
}
.organ-matching-a1-text13 {
  top: -2px;
  left: 13px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.organ-matching-a1-textinput1 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: var(--dl-size-size-medium);
  position: absolute;
  align-self: flex-end;
  padding-bottom: 0px;
}
.organ-matching-a1-group132 {
  left: 0px;
  right: 0px;
  width: 527px;
  bottom: -186px;
  height: 133px;
  margin: auto;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
}
.organ-matching-a1-text14 {
  top: -2px;
  left: 13px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.organ-matching-a1-textinput2 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: var(--dl-size-size-medium);
  position: absolute;
  align-self: flex-end;
  padding-bottom: 0px;
}
