.organ-tracking-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.organ-tracking-organ-tracking {
  width: 100%;
  height: 1862px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.organ-tracking-group61 {
  top: 519px;
  left: -2px;
  width: 1600px;
  height: 1055px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.organ-tracking-spash-screen1 {
  top: -128px;
  left: 0px;
  right: 0px;
  width: 1600px;
  height: 1142px;
  margin: auto;
  position: absolute;
  border-color: transparent;
}
.organ-tracking-text {
  top: -89px;
  left: 0px;
  color: rgba(16, 84, 31, 1);
  right: 0px;
  width: 1005px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Habibi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.organ-tracking-navlink {
  display: contents;
}
.organ-tracking-component {
  text-decoration: none;
}
.organ-tracking-navlink1 {
  display: contents;
}
.organ-tracking-component1 {
  text-decoration: none;
}
.organ-tracking-success {
  left: 0px;
  right: 0px;
  width: 707px;
  bottom: 350px;
  height: 92px;
  margin: auto;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(223, 251, 228, 1);
}
.organ-tracking-text07 {
  top: 11px;
  left: 130px;
  color: rgba(0, 0, 0, 1);
  width: 553px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Habibi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.organ-tracking-rectangle6 {
  top: 11px;
  left: 18px;
  width: 75px;
  height: 70px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.organ-tracking-ellipse1 {
  top: 21px;
  left: 30px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-color: transparent;
}
.organ-tracking-vector {
  top: 31px;
  left: 37px;
  width: 36px;
  height: 30px;
  position: absolute;
}
.organ-tracking-dark-dark04 {
  top: 93px;
  left: -2px;
  width: 1600px;
  height: 295px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.organ-tracking-fluid-shape {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 419px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.organ-tracking-mask {
  top: 0px;
  left: 0px;
  width: 1600px;
  height: 295px;
  position: absolute;
  border-color: transparent;
}
.organ-tracking-img {
  top: 0px;
  left: 0px;
  width: 1600px;
  height: 295px;
  opacity: 0.50;
  position: absolute;
  border-color: transparent;
}
.organ-tracking-text09 {
  top: var(--dl-space-space-fiveunits);
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  width: 923px;
  bottom: 0px;
  height: auto;
  margin: auto;
  opacity: 0.80;
  position: absolute;
  font-size: 128px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Habibi;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.organ-tracking-text10 {
  color: var(--dl-color-gray-black);
}
.organ-tracking-text11 {
  color: var(--dl-color-gray-black);
}
.organ-tracking-text14 {
  color: var(--dl-color-gray-black);
}
