.organ-matching-a3-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.organ-matching-a3-matching-i-ibv {
  width: 100%;
  height: 1786px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: flex-end;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.organ-matching-a3-navlink {
  display: contents;
}
.organ-matching-a3-component {
  text-decoration: none;
}
.organ-matching-a3-navlink1 {
  display: contents;
}
.organ-matching-a3-component1 {
  text-decoration: none;
}
.organ-matching-a3-container1 {
  top: 1326px;
  left: 0px;
  width: 1599.2000732421875px;
  height: 85px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.organ-matching-a3-navlink2 {
  display: contents;
}
.organ-matching-a3-screenshot202301061958501 {
  top: 0px;
  left: 544.6000366210938px;
  width: 510px;
  height: 85px;
  margin: auto;
  position: absolute;
  align-self: flex-end;
  border-color: transparent;
  text-decoration: none;
}
.organ-matching-a3-text {
  top: 21px;
  left: 0px;
  color: var(--dl-color-default-white);
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 40px;
  text-align: center;
}
.organ-matching-a3-i-m-a-g-e10lightimportseedphrasesuccessful {
  top: 350px;
  left: 0px;
  right: 0px;
  width: 573px;
  height: 840px;
  margin: auto;
  position: absolute;
  align-self: flex-end;
  border-color: transparent;
}
.organ-matching-a3-dark-dark8 {
  top: 93px;
  left: 0px;
  width: 1600px;
  height: 295px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.organ-matching-a3-fluid-shape {
  top: 0px;
  left: 0px;
  width: 1456px;
  height: 212px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.organ-matching-a3-mask {
  top: 0px;
  left: 0px;
  width: 1456px;
  height: 212px;
  position: absolute;
  border-color: transparent;
}
.organ-matching-a3-img {
  top: -3.6342856884002686px;
  left: 0px;
  width: 1600px;
  height: 295px;
  opacity: 0.50;
  position: absolute;
  border-color: transparent;
}
.organ-matching-a3-text3 {
  top: var(--dl-space-space-fiveunits);
  left: 0px;
  color: var(--dl-color-gray-black);
  right: 0px;
  width: 927px;
  bottom: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 96px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Habibi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
